/*styles for midterm assignment*/
html {

}

#content {
        Margin: 0 auto;
        width: 900px;
}

font-family: 'Fredericka the Great', cursive;
font-family: 'Megrim', cursive;
font-family: 'Poiret One', cursive;

Link for image https://www.forbes.com/sites/jamiecartereurope/2018/09/26/face-east-this-weekend-to-eye-the-trillion-star-andromeda-galaxy/?sh=e0a9e826882b
