/* Start of styles for expanded Resume Project  */

body {
    font-family: 'Thasadith', sans-serif;
    size: 35px;
    text-align:justify;

}
/* defaults for webpage body*/

h1 {
    text-align: center;
    font-weight: bold;
    font-family: 'Bad Script', sans-serif;
    padding: 15px;
}

h2 {
    font-style: italic;
}
.topper {
    max-width: 90%;
    align: center;
    margin-left: 190px; /* Same width as the sidebar + left position in px */
    margin-right: 60px;

}
/* styles for navbar from W3 Schools */
    .sidenav {
      width: 160px;
      position: fixed;
      z-index: 1;
      top: 20px;
      left: 10px;
      background-image:linear-gradient(rgb(101,95,95), rgb(19,10,9));
      overflow-x: hidden;
      padding: 8px 8px;
    }

    .sidenav a {
      padding: 6px 8px 6px 10px;
      text-decoration: none;
      font-size: 25px;
      font-family: 'Bad Script', sans-serif;
      font-weight: bold;
      color: #eeee;
      display: block;
    }

    .sidenav a:hover {
      color:silver;
    }

    .main {
      margin-left: 230px; /* Same width as the sidebar + left position in px */
      margin-right: 20px;
      font-size: 28px; /* Increased text to enable scrolling */
      padding: 0px 10px;
    }

    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }
/* end of styles for navbar from W3 Schools */

.school-info li {
    display: inline-block;
    padding: 5px;

}

#four-corners  {
  margin-left: 250px;
}


.footsies {
  background-image:linear-gradient(rgb(101,95,95), rgb(19,10,9));
  margin: -50px;
}
