/* Start of styles for expanded Resume Project  */

body {
    font-family: 'Thasadith', sans-serif;
    size: 25px;
    text-align:justify;

}
/* defaults for webpage body*/

h1 {
    text-align: center;
    font-weight: bold;
    font-family: 'Bad Script', sans-serif;
    padding: 15px;
}
/* for section headers*/

.topper {
    max-width: 90%;
    align: center;
    margin-left: 160px; /* Same width as the sidebar + left position in px */
    margin-right: 60px;

}
/*t opper styles for page*/

h4 {
font-style: italic;

}
/* for dates at locations*/

.titles {
  font-style: italic;
  font-weight: 700;
}
/* for job titles*/

#spacing {
  padding: 25px;
}
/* for padding on expereince entries*/

.text-muted{
    margin-left: 75px;
}
/* for words on footer */

#Skills {
  text-align: center;
  list-style: none;
  padding-bottom: 25px;

}
/* for inline on section*/
#Skills li {
  display: inline-block;

}
/* for inline on section*/

#Contact {
  text-align: center;
  list-style: none;
  padding-bottom: 25px;

}

#Contact li {
  display: inline-block;

}
/* for inline on section*/


/* styles for navbar from W3 Schools */
  .sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image:linear-gradient(rgb(101,95,95), rgb(19,10,9));
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 10px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Bad Script', sans-serif;
  font-weight: bold;
  color: #eeee;
  display: block;
}

.main {
  margin-left: 190px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  margin-right: auto;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* end of styles for navbar from W3 Schools */


.school-info li {
    display: inline-block;
    padding: 5px;

}
/* for eduaction section alignment*/

.footsies {
  background-image:linear-gradient(to right, rgb(19,10,9),rgb(101,95,95));
  margin-left: 60px;
}
/* for footer */

a:visited {
    color: #FF27002;
}
/*for links */
