/* Start of styles for bootstrap exercise */

html * {
font-family: 'Special Elite', cursive;
}

.bi {
  font-size:3em;
}

.col-md-4 {
  text-align: center;

}

.column-images {
  max-width: 100%;
  align-content: center;
  margin: 0 auto;
}

.bottom-cap {
  font-family: sans-serif;
  margin: auto 0;

}
