/* Start of styles for bootstrap exercise */

      html * {
      font-family: 'Special Elite', cursive;
      }

      .bi {
        font-size:3em;
      }

      .col-md-4 {
        text-align: center;

      }

      img {
        max-width: 100%;
        max-width: 200px;
        margin: 0 auto;
      }
