html {
      font-family: 'Open Sans',sans-serif, Arial;
      font-size: 1em;
      font color: #444;
}
/* This is the font for the resume and the fallback fonts */

#myname {
      font-size: 3.5em;
      font-color: #33485e;
}
