/* styles for my resume */

html {
      font-family: 'Open Sans',sans-serif, Arial;
      font-size: 1em;
      font-weight: 400;
      color: #444;
}
/* This is the font for the resume and the fallback fonts; MAIN FONT WEIGHT IS 400 */

#myname {
      font-size: 3.5em;
      color: #33485e;
      text-transform: uppercase;
      text-align: center;
}
/* elements for my name */

#mytitle {
      font-size: 2em;
      color:#33485e;
      text-transform: uppercase;
      text-align: center;
}
/* elements for my title; decided to put title center it looked nice to me */

.SECTION {
      font-size: 1.5em;
      font-transform: uppercase;
      color: white;
      background-color: #33485e;
      margin: -8px;
}
/* elements for section headers; shrinked margins for fun */

.JOBtitle {
      font-weight: 600;
      font-size: 2em;
}
/* elements for job titles */
.org {
      font-size: 1.5em;
}
/*  elements for organizations */

.time {
      font-size: 1em;
      font-style: italic;

}
/* elements for time at organizations  */

.thickies {
      font-weight: bolder;
}
/* elements for making certain data stand out  */
