/* styles for midterm Pt.2 assignment */
body {
  background-color:#dbdbd9;
}

h1 {
    font-family: Garamound ; Helvetica, Arial, Sans-serif;
    font-size: 60px;

}

p {
        font-family: Helvetica, Arial, Sans-serif;
        font-size: 12px:
  }

#container {
        Margin: 0 auto;
        width: 1000px;
        line-height: 1.5;
        text-align: justify;
}
.body-images{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: auto;
}


.cap-align {
        text-align: center;
}

.embed-it {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width:5px;
          height:10px;
}

.quote {
      font-size: 30px;
      text-align: center;
}

a:link {
  color: Black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color:black;
  background-color: transparent;
  text-decoration: underline;
}
