/* Styles for Stephanie Smith's website */

/*
font-family: 'Arima',serif, cursive; --> for body
font-family: 'Cormorant Garamond', serif; --> for headings/titles
#004bad --> blue words
#fee900 --> yellow words
#ffde5a --> yellow background from logo
#36aaed --> OG skyblue color
*/

body {
  font-family: 'Arima',serif, cursive;
}
/*font for body text*/

.nav-titles {
  font-family: 'Cormorant Garamond', serif;
  text-transform: uppercase;
}
/**/

.top-left {
font-size: 2em;
color: #004bad;
font-weight: 600;

}
/**/


.nav-style {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;



}
/**/

.nav-style li {
   display: inline-block;
   padding: 8px;
   float:left;
}
/**/

.nav-style a {
text-decoration: none;
color: #004bad;
font-size: 1.5em;

}
/**/

li a:hover {
  background-color:#36aaed;
  padding: 10px 10px;
}
/**/

.badge {
  width: 100%;
  max-width: 400px;
}

.hashtag {
  float: right;
  align-content: right;
  font-family: 'Cormorant Garamond', serif;
  font-size: 4em;
  padding-top: 2.75em;
  padding-left: 50px;
  background-color: red;
}


/**/
/* media quieries */

/* small */
@media (min-width:50px) and (max-width:768px) {

  .row-flip {
  flex-wrap:wrap-reverse;
  }
  /**/

  .nav-style a {
    font-size: 1.2em;
  }
  /**/

.hashtag {
  font-size: 1.25em;
  text-align: center;



}

/* medium */
@media (min-width:768px)and (max-width:991px){

  . {
    font-size: .2em;
  }


}

/* large */
@media (min-width:992px)and (max-width:1199px){

}


/* desktop */
@media (min-width:1200px)and (max-width:1280px){

}
/**/
